<ion-list>
    <ion-item-sliding #slidingItems *ngFor="let list of wishesService.lists | completedFilter : listFinished">

        <ion-item-options side="left">
            <button ion-button icon-only color="info" (click)="updateListTitle(list, slidingItems)">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-item-options>

        <button ion-item (click)="listSelected(list)">
                {{ list.title }}
                <ion-note item-end>
                    {{ list.items | itemsCompleted}} / {{list.items.length}}
                </ion-note>
            </button>

        <ion-item-options side="right">
            <button ion-button icon-only color="danger" (click)="deleteList(list)">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-item-options>

    </ion-item-sliding>
</ion-list>